language: ruby
rvm:
  - "2.0"
install:
    - sudo add-apt-repository --yes ppa:h-rayflood/llvm
    - sudo apt-get -qq update
    - sudo apt-get -qq install libclang-3.3-dev
    - bundle install
    - export LD_LIBRARY_PATH=/usr/lib/llvm-3.3/lib/
