name: Test

on: [push, pull_request]

permissions:
  contents: read

env:
  CONSOLE_OUTPUT: XTerm

jobs:
  test:
    name: ${{matrix.ruby}} on ${{matrix.os}} clang ${{matrix.clang}}
    runs-on: ${{matrix.os}}-latest
    continue-on-error: ${{matrix.experimental}}
    
    strategy:
      matrix:
        os:
          - ubuntu
          # - macos
        
        ruby:
          - "3.1"
          - "3.2"
          - "3.3"

        clang:
          - "15.0"
          - "16.0"
          - "17.0"

        experimental: [false]
        
        include:
          - os: ubuntu
            ruby: head
            clang: "15.0"
            experimental: true
    
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby}}
        bundler-cache: true
    
    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v2
      with:
        version: ${{matrix.clang}}
    
    - name: Run tests
      timeout-minutes: 10
      run: bundle exec bake test
